@import './settings.less';

.about {
  padding-top: @sections-distance;
  padding-bottom: @sections-distance;

  &__boundary-wrapper {
    .main-boundary-wrapper();
  }

  &__heading {
    .main-heading-mix();

    &--emphasize {
      color: @primary-color;
    }
  }

  &__content {
    // background-color: fade(white, 5%);
    // -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    // -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    // box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    // padding-top: 30px;
    // padding-right: 10px;
    // padding-bottom: 30px;
    // padding-left: 10px;

    .content-paragraph {
      .main-paragraph-mix();

      &--emphasize {
        display: block;
        font-weight: @primary-font-weight-bold;
        color: @primary-color;
        margin-bottom: 10px;
      }
    }

    .content-button-more {
      .main-button-mix();
    }
  }
}