@import './settings.less';
@avatar-height: 200px;

.about {
  padding-top: @sections-distance;
  padding-bottom: @sections-distance;

  &__heading {
    .main-heading-mix();
    text-align: center;

    &--emphasize {
      color: @primary-color;
    }
  }

  &__container {
    &-image {
      height: 100px;
      position: relative;
      border-bottom: 2px solid @primary-color;

      .image__avatar-picture {
        height: @avatar-height;
        position: absolute;
        top: 0;
        left: calc(50% ~"-"@avatar-height / 2);
        box-sizing: border-box;
        border: 2px solid @primary-color;
        border-radius: 50%;
      }
    }

    &-content {
      .main-boundary-wrapper();
      margin-top: @avatar-height / 2 + 30px;

      .content__section {
        .main-paragraph-mix();
        margin-bottom: 15px;

        &--emphasize {
          color: @primary-color;
          font-weight: @primary-font-weight-bold;
        }

        &--italicize {
          color: @high-emphasis-text-color;
          font-style: @primary-font-style-regular-italic;
        }
      }
    }
  }



  &__content {
    // background-color: fade(white, 5%);
    // -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    // -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    // box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    // padding-top: 30px;
    // padding-right: 10px;
    // padding-bottom: 30px;
    // padding-left: 10px;
  }
}