@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1Mu51xIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firacode/v7/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_NprJVD7Mw.ttf) format('truetype');
}
/* DARK THEME */
.main-boundary-wrapper {
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .main-boundary-wrapper {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .main-boundary-wrapper {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  .main-boundary-wrapper {
    max-width: 992px;
  }
}
@media (min-width: 1200px) {
  .main-boundary-wrapper {
    max-width: 1200px;
  }
}
.main-heading-mix {
  font-family: 'Fira Code', monospace;
  font-weight: 700;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.87);
  text-align: left;
  margin-bottom: 30px;
}
@media (min-width: 576px) {
  .main-heading-mix {
    font-size: 2.2rem;
    margin-bottom: 45px;
  }
}
@media (min-width: 768px) {
  .main-heading-mix {
    font-size: 2.6rem;
  }
}
@media (min-width: 992px) {
  .main-heading-mix {
    font-size: 3rem;
  }
}
.main-paragraph-mix {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.5;
  text-align: left;
  margin-bottom: 30px;
}
@media (min-width: 576px) {
  .main-paragraph-mix {
    font-size: 1.3rem;
    margin-bottom: 45px;
  }
}
@media (min-width: 768px) {
  .main-paragraph-mix {
    font-size: 1.45rem;
  }
}
@media (min-width: 992px) {
  .main-paragraph-mix {
    font-size: 1.65rem;
  }
}
.main-button-mix {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.15rem;
  color: #121212;
  text-transform: uppercase;
  background-color: #03DAC5;
  transition: background-color 500ms ease;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
}
.main-button-mix:hover {
  background-color: #028f81;
  transition: background-color 500ms ease;
}
.main-button-mix:active {
  background-color: #015c53;
  transition: background-color 500ms ease;
}
.about {
  padding-top: 60px;
}
.about__heading {
  font-family: 'Fira Code', monospace;
  font-weight: 700;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.87);
  text-align: left;
  margin-bottom: 30px;
  text-align: center;
}
@media (min-width: 576px) {
  .about__heading {
    font-size: 2.2rem;
    margin-bottom: 45px;
  }
}
@media (min-width: 768px) {
  .about__heading {
    font-size: 2.6rem;
  }
}
@media (min-width: 992px) {
  .about__heading {
    font-size: 3rem;
  }
}
.about__heading--emphasize {
  color: #BB86FC;
}
.about__container-image {
  height: 100px;
  position: relative;
  box-sizing: border-box;
  border-bottom: 2px solid #BB86FC;
}
.about__container-image .image__avatar-picture {
  height: 200px;
  position: absolute;
  top: 0;
  left: calc(50% - 200px / 2);
  box-sizing: border-box;
  border: 2px solid #BB86FC;
  border-radius: 50%;
}
.about__container-image .image__avatar-picture--screen-large {
  display: none;
}
.about__container-content {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  margin-top: 100px;
}
@media (min-width: 576px) {
  .about__container-content {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .about__container-content {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  .about__container-content {
    max-width: 992px;
  }
}
@media (min-width: 1200px) {
  .about__container-content {
    max-width: 1200px;
  }
}
.about__container-content .content__section {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.5;
  text-align: left;
  margin-bottom: 30px;
  margin-bottom: 15px;
}
@media (min-width: 576px) {
  .about__container-content .content__section {
    font-size: 1.3rem;
    margin-bottom: 45px;
  }
}
@media (min-width: 768px) {
  .about__container-content .content__section {
    font-size: 1.45rem;
  }
}
@media (min-width: 992px) {
  .about__container-content .content__section {
    font-size: 1.65rem;
  }
}
.about__container-content .content__section:last-of-type {
  margin-bottom: 0;
}
.about__container-content .content__section--emphasize {
  color: #BB86FC;
  font-weight: 700;
}
.about__container-content .content__section--italicize {
  color: rgba(255, 255, 255, 0.87);
  font-style: italic;
}
@media (min-width: 576px) {
  .about__container-content .content__section {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .about {
    padding-top: 100px;
  }
  .about__container-image {
    height: 125px;
    border-bottom-width: 4px;
  }
  .about__container-image .image__avatar-picture {
    height: 250px;
    left: calc(50% - 250px / 2);
    border-width: 4px;
  }
  .about__container-content {
    box-sizing: border-box;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 125px;
  }
}
@media (min-width: 768px) and (min-width: 576px) {
  .about__container-content {
    max-width: 576px;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .about__container-content {
    max-width: 768px;
  }
}
@media (min-width: 768px) and (min-width: 992px) {
  .about__container-content {
    max-width: 992px;
  }
}
@media (min-width: 768px) and (min-width: 1200px) {
  .about__container-content {
    max-width: 1200px;
  }
}
@media (min-width: 992px) {
  .about {
    padding-top: 60px;
  }
  .about__container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    box-sizing: border-box;
  }
  .about__container-image {
    height: auto;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: static;
    border-bottom: none;
    padding-right: 20px;
  }
  .about__container-image .image__avatar-picture {
    height: 210px;
    display: block;
    position: static;
    align-self: flex-start;
  }
  .about__container-image .image__avatar-picture:nth-child(2) {
    align-self: flex-end;
    border-color: #03DAC5;
  }
  .about__container-content {
    width: 65%;
    background-color: rgba(187, 134, 252, 0.05);
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    padding: 25px 20px;
    margin-top: 0;
  }
}
@media (min-width: 992px) and (min-width: 576px) {
  .about__container {
    max-width: 576px;
  }
}
@media (min-width: 992px) and (min-width: 768px) {
  .about__container {
    max-width: 768px;
  }
}
@media (min-width: 992px) and (min-width: 992px) {
  .about__container {
    max-width: 992px;
  }
}
@media (min-width: 992px) and (min-width: 1200px) {
  .about__container {
    max-width: 1200px;
  }
}
