@import './settings.less';

.contact {
  padding-top: @sections-distance;

  &__heading {
    .main-heading-mix();
    text-align: center;

    &--emphasize {
      color: @primary-color;
    }
  }

  &__paragraph {
    .main-paragraph-mix();
    .main-boundary-wrapper();

    &--emphasize {
      color: @primary-color;
      font-weight: @primary-font-weight-bold;
    }
  }

  &__socials {
    display: flex;
    justify-content: space-evenly;

    &-link {
      height: 60px;
      display: block;

      .link__icon {
        height: 100%;
        width: 100%;
        transition: all 250ms ease;

        &:active {
          transform: scale(0.9);
          transform-origin: center;
          transition: all 250ms ease;
        }
      }
    }
  }

  &__form {
    .main-boundary-wrapper();
    margin-top: 30px;

    &-wrapper {
      background-color: fade(#fff, 5%);
      -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
      padding: 15px 10px;
    }

    &-item {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;

      .form {
        &-label {
          .main-paragraph-mix();
          color: @high-emphasis-text-color;
          margin-bottom: 5px;

          &__required {
            color: @color-warning;
            font-weight: @primary-font-weight-bold;
          }
        }

        &-help {
          color: @medium-emphasis-text-color;
          font-size: 0.9rem;
          margin-top: 5px;
        }

        &-input {
          font-family: @primary-font-family;
          border: 1px solid @primary-color;
          padding: 0.375rem .75rem;

          &:focus {
            outline: 0;
            box-shadow: 0 0 0 0.15rem fade(@primary-color, 50%);
          }
        }
      }
    }

    &-submit {
      text-align: center;
      margin-top: 30px;

      .submit-button {
        .main-button-mix();
        width: 100%;
        max-width: 300px;
      }
    }
  }
}

@media @breakpoint-small {
  .contact {
    &__socials {
      display: flex;
      justify-content: center;

      &-link {
        width: 60px;
        padding-left: 30px;
        padding-right: 30px;
      }
    }

    &__form {
      margin-top: 30px;

      &-wrapper {
        padding-bottom: 30px;
      }

      &-item {
        margin-bottom: 30px;

        .form {
          &-label {
            margin-bottom: 5px;
          }
        }
      }

      &-submit {
        margin-top: 45px;
      }
    }
  }
}

@media @breakpoint-medium {
  .contact {
    padding-top: @sections-distance-medium;

    &__wrapper {
      .main-boundary-wrapper();
      display: flex;
      box-sizing: border-box;
    }

    &__socials {
      width: 30%;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      box-sizing: border-box;
      background-color: fade(@primary-color, 5%);
      -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
      padding: 15px 10px;

      &-link {
        height: 100px;
        width: 100px;
        padding: 0;
      }
    }

    &__form {
      width: 70%;
      box-sizing: border-box;
      padding-right: 0;
      margin-top: 0;

      &-item {
        .form {
          &-label {
            margin-bottom: 5px;
          }
        }
      }

      &-submit {
        text-align: center;
        margin-top: 30px;

        .submit-button {
          .main-button-mix();
          width: 100%;
          max-width: 300px;
        }
      }
    }
  }
}

@media @breakpoint-large {
  .contact {

    &__socials {
      &-link {
        .link__icon {
          &:hover {
            transform: scale(1.1);
            transform-origin: center;
            transition: all 250ms ease;
          }

          &:active {
            transform: scale(0.9);
            transform-origin: center;
            transition: all 250ms ease;
          }
        }

      }
    }
  }
}