@import './settings.less';

.page-banner {
  height: 400px;
  position: relative;
  background-image: url('../utils/images/header-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;

  &__content {
    .main-boundary-wrapper();
    padding-top: 100px;

    .content {
      &__heading {
        .main-heading-mix();
        font-size: 2.6rem;
        text-align: center;
      }

      &__paragraph {
        .main-paragraph-mix();
        line-height: 2;
        text-align: center;
        color: @high-emphasis-text-color;

        &--emphasize {
          color: @primary-color;
          font-weight: @primary-font-weight-bold;
        }
      }
    }
  }

  &__image-caption {
    position: absolute;
    bottom: 5px;
    right: 5px;
    color: @medium-emphasis-text-color;
    font-size: 0.7rem;
  }
}

@media @breakpoint-small {
  .page-banner {
    height: 500px;

    &__content {
      .main-boundary-wrapper();
      padding-top: 150px;

      .content {
        &__heading {
          font-size: 3.2rem;
        }
      }
    }
  }
}

@media @breakpoint-medium {
  .page-banner {
    height: 600px;

    &__content {
      .main-boundary-wrapper();
      padding-top: 150px;

      .content {
        &__heading {
          font-size: 3.8rem;
        }
      }
    }
  }
}