@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1Mu51xIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firacode/v7/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_NprJVD7Mw.ttf) format('truetype');
}
/* DARK THEME */
.main-boundary-wrapper {
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .main-boundary-wrapper {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .main-boundary-wrapper {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  .main-boundary-wrapper {
    max-width: 992px;
  }
}
@media (min-width: 1200px) {
  .main-boundary-wrapper {
    max-width: 1200px;
  }
}
.main-heading-mix {
  font-family: 'Fira Code', monospace;
  font-weight: 700;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.87);
  text-align: left;
  margin-bottom: 30px;
}
@media (min-width: 576px) {
  .main-heading-mix {
    font-size: 2.2rem;
    margin-bottom: 45px;
  }
}
@media (min-width: 768px) {
  .main-heading-mix {
    font-size: 2.2rem;
  }
}
@media (min-width: 992px) {
  .main-heading-mix {
    font-size: 2.2rem;
  }
}
@media (min-width: 1200px) {
  .main-heading-mix {
    font-size: 2.2rem;
  }
}
.main-paragraph-mix {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.5;
  text-align: left;
  margin-bottom: 30px;
}
@media (min-width: 576px) {
  .main-paragraph-mix {
    font-size: 1.3rem;
    margin-bottom: 45px;
  }
}
@media (min-width: 768px) {
  .main-paragraph-mix {
    font-size: 1.3rem;
  }
}
@media (min-width: 992px) {
  .main-paragraph-mix {
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  .main-paragraph-mix {
    font-size: 1.3rem;
  }
}
.main-button-mix {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.15rem;
  color: #121212;
  text-transform: uppercase;
  background-color: #03DAC5;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
}
.main-navigation {
  height: 70px;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
}
.main-navigation__boundary-wrapper {
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 576px) {
  .main-navigation__boundary-wrapper {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .main-navigation__boundary-wrapper {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  .main-navigation__boundary-wrapper {
    max-width: 992px;
  }
}
@media (min-width: 1200px) {
  .main-navigation__boundary-wrapper {
    max-width: 1200px;
  }
}
.main-navigation__logo {
  display: block;
  font-family: 'Fira Code', monospace;
  font-weight: 700;
  font-size: 6.5vw;
  color: rgba(255, 255, 255, 0.87);
}
.main-navigation__logo--emphasize {
  color: #BB86FC;
}
.main-navigation__hamburger {
  display: flex;
  cursor: pointer;
}
.main-navigation__hamburger .hamburger-menu {
  display: flex;
  align-items: center;
  font-size: 1.15rem;
  font-weight: 700;
  margin-right: 10px;
}
.main-navigation__hamburger .hamburger {
  height: 50px;
  width: 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 5px;
}
.main-navigation__hamburger .hamburger__dot {
  height: 7px;
  width: 7px;
  display: block;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.87);
}
.main-navigation__mobile-menu {
  height: auto;
  width: 100%;
  max-height: 0px;
  position: absolute;
  top: 70px;
  left: 0;
  z-index: 1;
  box-sizing: border-box;
  background-color: #121212;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}
.main-navigation__mobile-menu .mobile-menu {
  box-sizing: border-box;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 576px) {
  .main-navigation__mobile-menu .mobile-menu {
    max-width: 576px;
  }
}
@media (min-width: 768px) {
  .main-navigation__mobile-menu .mobile-menu {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  .main-navigation__mobile-menu .mobile-menu {
    max-width: 992px;
  }
}
@media (min-width: 1200px) {
  .main-navigation__mobile-menu .mobile-menu {
    max-width: 1200px;
  }
}
.main-navigation__mobile-menu .mobile-menu__item {
  display: block;
  width: 220px;
  padding: 30px 0;
  margin: 0 auto;
}
.main-navigation__mobile-menu .mobile-menu__item-link {
  text-decoration: none;
  font-family: 'Fira Code', monospace;
  font-size: 2rem;
  font-weight: 700;
  color: #BB86FC;
}
