@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1Mu51xIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firacode/v7/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_NprJVD7Mw.ttf) format('truetype');
}
/* DARK THEME */
.main-boundary-wrapper {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.main-heading-mix {
  font-family: 'Fira Code', monospace;
  font-weight: 700;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.87);
  text-align: left;
  margin-bottom: 30px;
}
.main-paragraph-mix {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.5;
  text-align: left;
  margin-bottom: 30px;
}
.main-button-mix {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.15rem;
  color: #121212;
  text-transform: uppercase;
  background-color: #03DAC5;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
}
.skills {
  padding-bottom: 60px;
}
.skills__heading {
  font-family: 'Fira Code', monospace;
  font-weight: 700;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.87);
  text-align: left;
  margin-bottom: 30px;
  text-align: center;
}
.skills__heading--emphasize {
  color: #BB86FC;
}
.skills__container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.skills__container-technology {
  display: flex;
  flex-wrap: wrap;
}
.skills__container-technology figure {
  margin-bottom: 30px;
}
.skills__container-technology figure:nth-last-child(1),
.skills__container-technology figure:nth-last-child(2) {
  margin-bottom: 0;
}
.skills__container-technology .technology {
  width: 50%;
}
.skills__container-technology .technology__show-title {
  height: 100px;
  display: block;
  cursor: auto;
}
.skills__container-technology .technology__icon {
  height: 100%;
  width: 100%;
}
.skills__container-technology .technology__caption {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.5;
  text-align: left;
  margin-bottom: 30px;
  text-align: center;
  margin-bottom: 0;
}
.skills__container-codewars {
  width: 100%;
  margin-top: 30px;
}
.skills__container-codewars .codewars__icon {
  height: 100px;
  display: block;
  margin: 0 auto;
}
.skills__container-codewars .codewars__caption {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.5;
  text-align: left;
  margin-bottom: 30px;
  text-align: center;
  margin-bottom: 0;
}
.skills__container-codewars .codewars__badge-wrapper {
  width: 250px;
  margin: 15px auto 0;
  position: relative;
  overflow: hidden;
}
.skills__container-codewars .codewars__badge-wrapper:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  right: 0;
  border-top: 20px solid #121212;
  border-left: 11px solid transparent;
  border-bottom: 0px solid transparent;
}
.skills__container-codewars .codewars__badge-wrapper:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 20px;
  right: 0;
  border-top: 0px solid transparent;
  border-left: 11px solid transparent;
  border-bottom: 20px solid #121212;
}
.skills__container-more {
  margin-top: 30px;
}
.skills__container-more .more__paragraph {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.5;
  text-align: left;
  margin-bottom: 30px;
}
.skills__container-more .more__paragraph--emphasize {
  color: #BB86FC;
  font-weight: 700;
}
.skills__container-more .more__resume-button-wrapper .resume-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.15rem;
  color: #121212;
  text-transform: uppercase;
  background-color: #03DAC5;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
  width: 100%;
}
