@import './resets.css';
@import './settings.less';
@import './navigation.css';
@import './header.css';
@import './about.css';
@import './skills.css';
@import './work.css';
@import './contact.css';
@import './footer.css';

body {
  font-family: @primary-font-family;
  font-weight: @primary-font-weight-regular;
  color: @high-emphasis-text-color;
  background-color: @background-surface;
}