@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto Italic'), local('Roboto-Italic'), url(https://fonts.gstatic.com/s/roboto/v20/KFOkCnqEu92Fr1Mu51xIIzc.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v20/KFOlCnqEu92Fr1MmWUlfBBc9.ttf) format('truetype');
}
@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/firacode/v7/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_NprJVD7Mw.ttf) format('truetype');
}
/* DARK THEME */
.main-boundary-wrapper {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.main-heading-mix {
  font-family: 'Fira Code', monospace;
  font-weight: 700;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.87);
  text-align: left;
  margin-bottom: 30px;
}
.main-paragraph-mix {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.5;
  text-align: left;
  margin-bottom: 30px;
}
.main-button-mix {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.15rem;
  color: #121212;
  text-transform: uppercase;
  background-color: #03DAC5;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
}
.work {
  padding-top: 60px;
}
.work__heading {
  font-family: 'Fira Code', monospace;
  font-weight: 700;
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.87);
  text-align: left;
  margin-bottom: 30px;
  text-align: center;
}
.work__heading--emphasize {
  color: #BB86FC;
}
.work__projects-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.work__projects-container .project__picture {
  height: 200px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.work__projects-container .project__picture-caption {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 0.7rem;
}
.work__projects-container .project:nth-child(1) .project__picture {
  background-image: url('../utils/images/portfolio/portfolio_01.jpg');
}
.work__projects-container .project:nth-child(1) .project__picture-caption:before {
  content: 'Photo by Patrick Schneider on Unsplash';
}
.work__projects-container .project:nth-child(2) .project__picture {
  background-image: url('../utils/images/portfolio/portfolio_02.jpg');
}
.work__projects-container .project:nth-child(2) .project__picture-caption:before {
  content: 'Photo by Dark Labs on Unsplash';
}
.work__projects-container .project:nth-child(3) .project__picture {
  background-image: url('../utils/images/portfolio/portfolio_03.jpg');
}
.work__projects-container .project:nth-child(3) .project__picture-caption:before {
  content: 'Photo by Tan Kaninthanond on Unsplash';
}
.work__projects-container .project:nth-child(4) .project__picture {
  background-image: url('../utils/images/portfolio/portfolio_04.jpg');
}
.work__projects-container .project:nth-child(4) .project__picture-caption:before {
  content: 'Photo by Andrii Podilnyk on Unsplash';
}
.work__see-more-button-wrapper {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
}
.work__see-more-button-wrapper .see-more-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 1.15rem;
  color: #121212;
  text-transform: uppercase;
  background-color: #03DAC5;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
  width: 100%;
}
